/*nota*/

.frameProducto{

    background: var(--white-hue);
    height: 250px;
    min-width: 220px;
    max-width: 230px;
    margin: auto;
    
    margin-bottom: 10px;


    border-radius: 20px;
   

    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;

    box-shadow: 0 0 5px 5px #6666660d;
}

.frameProducto .infoProducto{

    position: absolute;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid var(--red-hue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: var(--red-hue);
    background: var(--white-hue);
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
    z-index: 2;
}

.frameProducto .infoProducto:hover{
    background: var(--red-hue);
    color: var(--white-hue);
}

.frameProducto .infoProducto::after{
    content: attr(data-tooltip);
    position: absolute;
    top: 110%;
    right: 0;
    max-width: 220px;
    padding: 8px 10px;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.3;
    opacity: 0;
    pointer-events: none;
    transform: translateY(6px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    white-space: normal;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0,0,0,0.18);
}

.frameProducto .infoProducto::before{
    content: "";
    position: absolute;
    top: 100%;
    right: 8px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.85) transparent transparent transparent;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.frameProducto .infoProducto:hover::after,
.frameProducto .infoProducto:hover::before{
    opacity: 1;
    transform: translateY(0);
}

.frameProducto .productoInformacion{

    display: grid;
    grid-template-rows: 1fr auto;

        
    
}

.imgComida{

    height: 120px;
    width: 130px;
    border-radius: 50%;
    margin: auto;
    background: #111;


    object-fit:contain;

}

.descripcion{

    height: 90%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    
    display: flex;
    flex-direction: column;
    
    
}

.descripcion #productoPrecio{

    font-size: 18px;
    color: var(--red-hue);

}
.descripcion p{
    
    
    margin: 0 ;
    font-size: 16px;
    font-weight: bold;

}

#productoNombre{

    font-size: 18px;
    font-weight: bold;
    
}

#btnAgregarPoducto{

    

    font-size: 30px;
    width: 80%;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background: var(--red-hue);
    color: var(--white-hue);
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: auto;
    
    

}



#btnAgregarPoducto:hover{

    background: var(--bright-red-hue);
    

}




                                                                    /* PEDIDO */
.framePedidoWidget{

    width: 95%;
    display: grid;
    grid-template-columns: 50px 1fr 50px 60px 50px;
    height: auto;
    min-height: 70px;
    font-size: 16px;
    margin: 10px auto;
    border-radius: 35px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background: #fff;
    align-items: center;
    padding: 8px 15px;
    box-sizing: border-box;

}

.pedidoTotal{

    background: #444;
    color: #fff;
    height: 35px;
    width: 45px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;

}

#btnSumarProducto{

    background: #00b62a;

}

.btnSumarRestar{

    height: 40px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    background: var(--bright-red-hue);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    

}

.pedidoCantidad{

    background: #f5f5f5;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    margin: 0 auto;
    min-width: 30px;
    text-align: center;
}

.pedidoNombre{

    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
   
   
    text-align: center;
    padding: 0 5px;
}

.mainNotaWidget{

    width: 95%;
    
    margin: auto;
    margin-bottom: 15px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    padding: 15px;
    

    background: #444;
    color: #fff;
    
    box-sizing: border-box;

   

}

.frameTituloNota{

    width: 100%;
    height: 20px;
    background: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 8px;
    
    

}

.notaTitulo{

    
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    

}


.notaContenido{

   
    background: #222;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    
    color: #fff;
   

}


#btneliminarNota{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;

    align-self: flex-end;
   

    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #fff;
    cursor: pointer;
    



}

#btneliminarNota:hover{

   color: var(--bright-red-hue);

}

#frameOrden{
    position: relative;
}

.totalPedidoFooter {
    display: flex;
    align-items: center;
    gap: 130px;
    margin: 0px 25px 15px 25px;
}

.totalPedidoFooter #nota {
    flex-shrink: 0;
}

.resumenTotalPedido {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    padding: 0px 25px;
    margin: 0;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.resumenTotalPedidoLinea {
    display: flex;
    gap: 16px;
    align-items: center;
}

.resumenTotalPedidoTitulo {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--red-hue);
    font-size: 15px;
}

.resumenTotalPedidoMonto {
    font-size: 20px;
    color: #222;
    font-weight: 600;
}



                                  /*MEDIA QUERYS*/

@media (max-width : 650px) and (max-height: 760px){ /*telefono vertical*/

    .frameProducto{

        width: 90%;
    }

    .btnSumarRestar{
        height: 35px;
    }

    .totalPedidoFooter{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0px 15px 15px 15px;
       
    }
}

@media (min-width: 768px) and (max-width: 1023px){ /*tablet horizontal*/

    .mainPedidoWidget{
        font-size: 15px;
    }

    .pedidoNombre{

        font-size: 12px;
    }

    .frameProducto{

        max-width: 270px;
        height: 250px;

        position: relative;
        display: grid;
       

        margin: 10px 0px 10px 10px; 
        padding: 0px 0px 10px 0px;
    }

    .productoInformcion{
        padding: 100px;

        grid-template-columns: auto 1fr;
    }

    #btnAgregarPoducto{

        height: 48px;
        width: 80%;
        font-size: 28px;
    }

    .descripcion{

        margin: auto;    
    }
   
    .descripcion #productoPrecio{

        font-size: 30px;
    }

    #productoNombre{

        font-size: 25px;   
    }
    

}





@media(min-width:2560px){
    .frameProducto{
        height: 410px;
        min-width: 400px;
    }

    .imgComida{

       height: 200px;
       width: 210px;


    }
    #btnAgregarPoducto{

        height: 95px;
        font-size: 50px;
       
    }

    .descripcion #productoNombre{
        font-size: 35px;
    }

    .descripcion #productoPrecio{
        font-size: 28px;
    }
    
    .descripcion p{
        font-size: 25px;
    }
    
    .framePedidoWidget{
        height: 150px;
    }
    .btnSumarRestar{
        height: 90px;
        width: 90px;
        border-radius: 100px;
        font-size: 40px;
    }

    .pedidoNombre{
        font-size: 22px;
    }
    .pedidoCantidad{
        font-size: 25px;
        padding: 20px;
        margin: 0 5px;
        text-align: center;
    }

    .pedidoTotal{
        font-size: 30px;
        padding: 20px;
        border-radius: 50px;
        width: 80px;
    }

    .mainNotaWidget{
        height: 200px;
    }

    .notaContenido{
        height: 90%;
        font-size: 23px;
    }

    .notaTitulo{
        font-size: 25px;
    }
}

